
.App .projects, .about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #a7c6e7;
    color: white;
    text-align: center;

}

.App .team-members li a{
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

.App .team-members li{
    list-style: none;
    padding: 1rem;
    border-bottom: 1px solid #fff;
    background-color: #222;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .App .hero-title {
    font-size: 5rem;
  }
}

@media (max-width: 480px) {
  .App .hero-title {
    font-size: 3rem;
  }
}
